.news{
  position: fixed;
  top:40%;
  color:rgb(142, 214, 159);
  background-color: rgba(0, 0, 0, 0.52);
  padding: 5px;
  margin: 3px;
  text-align: center;
  border-radius: 10px;
  border: none;
  animation: newsparaintro 3s ease-in-out forwards;
}
@keyframes  newsparaintro {
0%{
  left:-30%;
}
100%{
  left:5%;
}
  }

.newspara{
    background-color: rgba(0, 0, 0, 0.70);
    margin: 5px;
    font-size: 15px;
    transition: 0.8s;
    padding: 5px;
    border-radius:  3px;
    border: none;
}

.newspara:hover{
    background-color: rgba(0, 0, 0, 0.70);
    margin: 5px;
    font-size: 20px;
    transition: 0.8s;
    padding: 2px;
    border-radius:  3px;
    border: none;
}


.newspara a{
  color:rgb(5, 83, 35);
  font-size: 10px;
  }
.news h1{
  color:rgb(5, 83, 35);
  font-size: 25px;
  margin: none;
}
