
body {
   background-image: url('../images/backgroundimage.png');
    /*
    background-position:center;
    background-size:cover;
    overflow:hidden;
    position:relative;
    background-repeat:no-repeat;*/
    /*background-image: url('../images/backgroundimage.png');
    background-repeat: no-repeat;*/

    background-size: cover;
    overflow:hidden;
    width: 100%;
    height: 100%;
    background-position: center;
    cursor: URL('..images/cursor.svg');
    font-family:Arial, Helvetica, sans-serif;
}
body MARQUEE{
  COLOR:WHITE;
}
.backgroundimg{
  position: fixed;
  top: 0%;
  left: 0%;

}
.signin{
  position:fixed;
  top: 25px;
  right: 10px;
  z-index: 100;
}

.signin button{
  color: rgb(29, 57, 56);
  border-radius: 10px;
  border:3px solid;
    font-size: 28px;
    transition: 0.8s;
    background: none;
}

.signin button:hover{
  color: rgb(29, 57, 56);
  border-radius: 15px;
  border:3px solid;
    font-size: 31px;
    transition: 0.8s;
    background: none;
  background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
    }

.navbar {

    background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
    height: 20%;
    width: 100%;

    position: sticky;
    z-index: 2;
    top: 0PX;
    display: flex;
    position: center;

    align-items: center;

    justify-content: center;
    height: 10%;
    position: sticky;
    top: 0;
    margin: 0px;

}


.navbar img{
  position: absolute;
  top:-30PX;
  left:0px;
  width: 150px;
  align-items: flex-start;
transition:.5s ease;

}
.navbar img:hover{
  position: fixed;
  top:-30PX;
  left:0px;
  width: 150px;
  align-items: flex-start;
  background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
  transition:.5s ease;
  border-radius: 3px;
  border: none;
}
.SIDEBAR {
    display: flex;
    background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
    height: 10000%;
    width: 10%;
    z-index: 1;
    position: absolute;
    right: 0px;
}

.middlebar {
    position: fixed;
    top: 1%;
    right:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin: 0px;
    padding: 0px;

}

.btn {


    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
}
.btn1,.btn2{

    color: antiquewhite;
    font-size: 60px;
    transition: 0.8s;
}



.btn1:hover,.btn2:hover {
    color: rgb(50, 60, 57);
    border-radius:4PX ;
    border:none;
    font-size: 100px;
    transition: 0.8s;
    background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
}




.btnn{
    border-radius:4PX ;
    border:none;
    transition: 0.8s;
    color:azure;
    font-size:30px;

    outline:none;
    background:none;

      margin: 16px;
}
  .btnn:hover {
        border-radius: 7PX;
        border: none;
        margin: 16px;
        color: rgb(21, 36, 190);
        font-size: 30px;
		 outline:none;
        padding: 10px 25px;
        background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));

    }



.bottombar{
  font-size: 50px;
  font-style: bold;
  display:flex;
  justify-content: right;
  width:100%;
  text-align: center;
  align-content: center;
  position: fixed;

  animation: grintro 5s normal forwards;

}
.bottombar:hover{
  font-size: 50px;
  font-style: bold;
  display:flex;
  justify-content: right;
  width:100%;
  text-align: center;
  align-content: center;
  position: fixed;



}
@keyframes grintro{
  from {bottom: 10%;left:0%;opacity: 0%;color:white;}
  to {bottom: 10%;left:-15%;opacity: 100%;color: black;}
}
.btnb{
  outline:none;
  padding:5px;

  margin:5px;
  border: solid black 5px;
  border-radius: 50px;
  background: none;
  font-size: 30px;
  font-weight: bold;
  color:black;
}

    .btnb:hover {
        outline: none;
        padding: 10px;
        margin: 10px;
        border: solid black;
        border-radius: 100px;
        background: none;
        font-size: 40px;
         transition: 0.5s;
          background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
    }
.gr{
  display: flex;
  justify-content: center;
  position: fixed;
  top:30%;
  right:45%;
}
    #btgr1,#btgr2 {

      border-radius:4PX ;
      border:none;
      transition: 0.8s;
      color:azure;
      font-size:100px;

      outline:none;
      background:none;

        margin: 16px;

    }

    #btgr1:hover,#btgr2:hover {

      border-radius:4PX ;
      border:none;
      transition: 0.8s;
      font-family: cursive;
      font-size:150px;
      outline:none;
      background:none;
      background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
        margin: 16px;
        color: Black

    }

  .bottombar p{
    color:black;
    font-weight: bold;
  }
  .sidepara{
    font-size: 18px;
    font-weight: 1000;
    text-align: center;
    position:fixed;
    animation: paraintro 3s normal forwards;
    background-color:rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    color:white;
}
@keyframes paraintro {
  from {top:70%;left:0%;opacity: 0%;}
  to {top:70%;left:10%;opacity: 100%;}

}

.sidepara strong{
  font-size: 20px;
}
.sidepara:hover{
  padding: 5px;
  color:black;
  transition: 0.5s;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 1000;
  text-align: center;
  position:fixed;
  background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
}

.sidepara strong:hover{
  font-size: 40px;
}
#testbtn{
  color: antiquewhite;
  font-size: 60px;
  background: none;
  transition: 0.8s;
}

#testbtn:hover{
  color: rgb(50, 60, 57);
  border-radius:4PX ;
  border:none;
  font-size: 100px;
  transition: 0.8s;
  background-image: linear-gradient(to right,rgba(20, 222, 113, 1),rgba(0, 255, 254, 1));
}
